#main {
display: block;
margin-top: 50%;
}

#contact {
  margin-top: 50%;
  display: none;
}

#location {
  display: none;
}

#teams {
  display: none;
}

#calendar {
  display: none;
}

#foot {
  display: none;
}

#master {
  margin-top: 40%;
}