header {
  clear: both;
  position: relative;
  height: 220px;
  width: auto;
  background-color: #339944;
}

.Logo {
  position: relative;
  width: 18%;
  height: auto;
  margin: 2%;
}

.Arriba {
  position: relative;
  height: 80px;
  width: auto;
  background-color: #0b2e11;
}

.menuPpal {
  background-color: #77f18b;
}

.Abajo {
  position: relative;
  height: 200px;
  width: auto;
  background-color: #0b2e11
}

nav {
  position: relative;
  background-color: #0b2e11
}

.Titulo {
  position: absolute;
  font-size: 4em;
  margin-top: -15%;
  margin-left: 30%;
}

.barraPrincipal {
  position: relative;
  height: 100px;
  width: auto;
  background-color: #0b2e11;
}

#Calendario, #Equipos, #Ubicacion, #Contacto {
  position: relative;
  font-size: 300px;
  color: rgb(24, 56, 48);
  margin: 8%;
}